<body>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
      <!-------------------- ------ Right Box ---------------------------->

      <div class="col-md-6 right-box">
        <div class="row align-items-center">
          <div class="header-text mb-4">
            <h2 class="fw-bold">مرحبا بك</h2>
          </div>
          <form (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="اسم المستخدم"
                placeholder="اسم المستخدم" formControlName="email">
            </div>
            <div class="input-group mb-1">
              <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="كلمة السر"
                formControlName="password">
            </div>
            <div class="input-group mb-5 d-flex justify-content-between">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="formCheck">
                <label for="formCheck" class="form-check-label text-secondary"><small>تذكرني</small></label>
              </div>
              <div class="forgot">
                <small><a href="#">هل نسيت كلمة السر؟</a></small>
              </div>
            </div>
            <div class="input-group mb-3 rounded-2">
              <button class="btn btn-lg btn-primary w-100 fs-5 fw-semibold " type="submit" [disabled]="loginForm.invalid">تسجيل الدخول</button>
            </div>
            <!-- <div class="input-group mb-3">
              <button class="btn btn-lg btn-light w-100 fs-6"><img src="images/google.png" style="width:20px"
                  class="me-2"><small>Sign In with Google</small></button>
            </div> -->
            <div class="row">
              <!-- TODO:routerlink for register -->
              <small>ليس لديك حساب ؟<a [href]="regesterLink">انشاء حساب</a></small>
            </div>
          </form>
        </div>
      </div>
      <!--------------------------- Left Box ----------------------------->
      <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box bg-primary"
        >
        <!-- <div class="featured-image mb-3">
          <img src="" class="img-fluid" style="width: 250px;">
        </div> -->
        <p class="text-white fs-2" style="font-weight: 600;">نظام ادارة المخازن
        </p>
        <!-- <small class="text-white text-wrap text-center"
          style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Join experienced Designers on this
          platform.</small> -->
      </div>

    </div>
  </div>
</body>