<nav class="navbar navbar-expand-lg bg-primary navbar-dark p-0">
  <div class="container">
    <a class="navbar-brand ms-4 fw-normal">ادارة المخازن</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="unCollapseNav()"
      [class.collapsed]="!isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-lg-3" id="navbarColor01" [class.show]="!isCollapsed">
      <ul class="navbar-nav">
        <li class=" nav-item dropdown" appToggleDropdown>
          <a class="nav-link dropdown-toggle fw-normal">البيانات الأساسية</a>
          <div class="dropdown-menu ">
            <a
              class="dropdown-item text-white"
              [routerLink]="[appRoutes.categories.base, appRoutes.categories.grid]"
            >
              جدول المجموعات
            </a>
            <!-- <a class="dropdown-item text-white" [routerLink]="[appRoutes.items.base, appRoutes.items.create]">
              اضافة صنف
            </a> -->
            <a
              class="dropdown-item text-white"
              [routerLink]="[appRoutes.items.base, appRoutes.items.grid]"
            >
              جدول الاصناف
            </a>
            <a
              class="dropdown-item text-white"
              [routerLink]="[appRoutes.priceList.base, appRoutes.priceList.grid]"
            >
              جدول قوائم الأسعار
            </a>
            <a
              class="dropdown-item text-white"
              [routerLink]="[appRoutes.store.base, appRoutes.store.grid]"
            >
              جدول المخازن
            </a>
            <a
              class="dropdown-item text-white"
              [routerLink]="[appRoutes.vendor.base, appRoutes.vendor.grid]"
            >
              جدول الموردين
            </a>
            <a
            class="dropdown-item text-white"
            [routerLink]="[appRoutes.purchasesInvoice.base, appRoutes.purchasesInvoice.grid]"
          >
            جدول فواتير الشراء
        </a>
          </div>
        </li>
        <li class=" nav-item dropdown" appToggleDropdown>
          <a class="nav-link dropdown-toggle fw-normal">الأذونات</a>
          <div class="dropdown-menu ">
            <a
              class="dropdown-item text-white"
              [routerLink]="[appRoutes.dismissalNotice.base, appRoutes.dismissalNotice.grid]"
            >
              تحويلات بين المخازن
            </a>
            <a
              class="dropdown-item text-white"
              [routerLink]="[
                appRoutes.stockItemsRequisition.base,
                appRoutes.stockItemsRequisition.addItemsRequestGrid
              ]"
            >
              جدول اذونات الاضافة للمخازن
            </a>
            <a
              class="dropdown-item text-white"
              [routerLink]="[
                appRoutes.stockItemsRequisition.base,
                appRoutes.stockItemsRequisition.issueItemsRequestGrid
              ]"
            >
              جدول اذونات الصرف من المخازن
            </a>
            <a
              class="dropdown-item text-white"
              [routerLink]="[
                appRoutes.dismissalNotice.base,
                appRoutes.dismissalNotice.disburseOrAddBase,
                appRoutes.dismissalNotice.disburseOrAddGrid
              ]"
            >
            أنواع حركات الصرف و الاضافة 
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div
      class="collapse navbar-collapse ms-lg-3 justify-content-end"
      id="navbarColor01"
      [class.show]="!isCollapsedUser"
    >
      <ul class="navbar-nav">
        <li class=" nav-item dropdown" appToggleDropdown>
          <a class="nav-link dropdown-toggle fw-normal"><i class="bi bi-person-circle fs-3"></i></a>
          <div class="dropdown-menu ">
            <span class="dropdown-item">
              <span class="mb-0">مرحبا</span>
              <span class="mb-0" style="margin-right: 10px;">{{ userName }}</span>
            </span>
            <a
              class="dropdown-item"
              [routerLink]="[appRoutes.categories.base, appRoutes.categories.create]"
            >
              ملف المستخدم
            </a>
            <a
              class="dropdown-item "
              [routerLink]="[appRoutes.categories.base, appRoutes.categories.grid]"
            >
              الاعدادات
            </a>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <a
              class="dropdown-item"
              [routerLink]="[appRoutes.items.base, appRoutes.items.grid]"
              (click)="logout()"
            >
              <span class="fw-semibold me-4">تسجيل الخروج</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-box-arrow-left ms-auto"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"
                />
                <path
                  fill-rule="evenodd"
                  d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"
                />
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
